#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular data science languages
*   List commonly used data science libraries
*  Table containing Data Science tools
*  Intro for arithmetic expression examples
*  Arithmetic expression evaluation
*  Conversion of minutes to hours

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   SQL
4.   Java
5.   Julia
6.   Scala

Some of the commonly used libraries used by Data Scientists include:



1.   PyTorch
2.   Pandas
3.   Numpy
4.   SciPy
5.   Seaborn
6.   Matplotlib


Data Science Tools:
1.   Jupyter Notebooks
2.   RStudio
3.   Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Saumya Subham Mishra